html, body {
    max-width: 960px;
    margin: 0 auto;
}

#wrapper1, #wrapper2 {
    max-width: 960px;
}


.item_div {
    border: blue dotted 1px;
    height:
}

.update_item_Butt {
    /*margin: 0;
    padding: 0;
    width: 100%;
*/
}

#colInv, #colEve {
    margin-top: 20px;
}

#tailg { 
    margin-top: 5px;
 }


#data_td_4 {
    padding: 1px;
    /*margin: 2px;*/
    min-width: 100px;
}

#each, #quant, #total {
    text-align: center;
}

.quantity {
    text-align: center;
}

a:visited {
    color: white;
}


/***********************************************************/
/*** invoice ***********************/
/***********************************************************/

.jumbotron {
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 5px;

}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.well-sm {
    margin: 5px;
    padding: 5px;
}
/***********************************************************/
/*** paypal button and pricing table ***********************/
/***********************************************************/

/*#paypalCont {
    display: inline-block;
}*/

#pay_info {
    margin-top: 20px;
}

.well {
    text-align: center;
    width: 100%;

}

iframe[seamless] { 
    align-content: center;
    display: block;
    overflow: visible;
    border: none;
    /*width: 300px;
    height: 200px;*/
    /*border-top: #c00 1px dotted;
  border-right: #c00 2px dotted;
  border-left: #c00 2px dotted;
  border-bottom: #c00 4px dotted;*/
}

#paypalButt {
    padding: 0;
}

.borderless tbody tr td {
    border: none;
}

.borderless thead tr th {
    border: none;
}


/***********************************************************/
/*** events accordion ***********************/
/***********************************************************/

#events, #thanks, .jumbotron {
    margin: 0;
    padding: 0;
}


/***********************************************************/
/*** carusel template ***********************/
/***********************************************************/

        .wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

hr {
    visibility: hidden;
    clear: both;
    margin: 0;
    padding-bottom: 10px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
